.player img {
  width: 600px;
  height: 474px;
}
.player {
  text-align: center;
}
h1 {
  text-align: center;
}
.go {
  text-align: center;
}
/* responsive media query */
@media only screen and (max-width: 780px) {
  .player img {
    width: 80%;
  }
}
